<div class="user">
  <p class="name" *ngIf="auth.isLoggedIn()">
    Wecome,<br> <a>{{ auth.getCurrentUser().name}}</a>
  </p>
</div>
<ul class="sidebar_nav">
  <li>
    <span class="nav-list__title">Elections</span>
    <ul class="sidebar_nav--sub">
      <li *ngFor="let pos of votingData?.positions; let i = index">
        <a [routerLink]="['/voting-center', pos._id]" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          {{
            pos?.title
          }}
        </a>
      </li>
    </ul>

  </li>

</ul>
