<a
  [routerLink]="linkRef"
  [routerLinkActive]="[
    'md:text-orange-300',
    'md:bg-gray-800',
    'md:border-orange-400',
    'text-gray-600'
  ]"
  [routerLinkActiveOptions]="{ exact: true }"
  class="border-b border-gray-700 hover:md:border-orange-500 text-orange-500 py-3 px-5 font-medium tracking-wider hover:text-gray-100 md:border-b-2 md:border-transparent text-xs py-1 px-2 mx-1 md:bg-gray-300 md:text-gray-700 md:hover:bg-gray-400 md:hover:text-gray-700 md:rounded-full md:px-8 md:py-1 block cursor-pointer uppercase"
  >{{ linkText }}</a
>
