:host {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
}

button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: smaller;
  padding: 2px 3px;
  cursor: pointer;

  &:hover {
    background: #4c5;
  }
}
