@import "../../../csss/colors";

:host {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: #111;

  .logo {
    a {
      color: invert($color: $primary_color);
      text-decoration: none;
      padding: 3px 5px;

    }
  }
}

// Logout Button Settings
.logout {
  color: white;
  text-transform: uppercase;
  background-color: rgba($color: red, $alpha: 0.73);
  cursor: pointer;
  padding: 7px 10px;

  &:hover {
    background-color: darken(red, 10);
  }
}
