<h2 class="main-header">{{ election?.title }}</h2>
<div class="columns">
  <div class="first-column">
    <div class="sub-details">
      <div class="sub-header">
        <span>School:</span>
        <b>{{ election?.school }}</b>
      </div>
      <div class="sub-header">
        <span>Academic Year:</span>
        <b>{{ election?.academicYear }}</b>
      </div>
      <div class="sub-header">
        <span>Created On:</span>
        <b>{{ election?.createdAt | date: 'mediumDate' }},
          {{ election?.createdAt | date: 'mediumTime' }} </b>
      </div>
      <div class="sub-header">
        <span>Last Updated: </span>
        <b>{{ election?.updatedAt | date: 'mediumDate' }},
          {{ election?.updatedAt | date: 'mediumTime' }}</b>
      </div>
      <select id="options_links" #s (change)="goto($event)">
        <option value="">Choose Action</option>
        <option *ngFor="let li of links" [value]="li.value">{{li.title}}</option>
      </select>
    </div>

    <div class="addPadding">
      <h4 class="sub-title">Positions Assigned</h4>
      <list-positions></list-positions>
    </div>
  </div>
  <div class="last-column addPadding" style="padding: 20px;">
    <router-outlet></router-outlet>
  </div>
</div>
