<form [formGroup]="form" (ngSubmit)="submit(c._id)" *ngIf="currentCandidate$ | async as c">
  <h4 class="title">Update Candidate</h4>
  <div class="body">

    <div class="fields">
      <div class="field">
        <label class="label" for="room">Class</label>
        <div class="input">
          <select name="room" id="room" formControlName="room" [ngClass]="{
          invalid: (room.dirty || room.touched) && room.invalid,
          valid: (room.dirty || room.touched) && room.valid
          }">
            <option value="">Choose Class</option>
            <option value="2A1">2A1</option>
            <option value="2A2">2A2</option>
            <option value="2A3">2A3</option>
          </select>

          <div *ngIf="room.dirty || room.touched">
            <div class="validation danger" *ngFor="let validation of validationMessages.room">
              <small *ngIf="room.hasError(validation.type)">{{validation.message}}</small>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label" for="name">Full Name</label>
        <div class="input"><input type="text" name="name" id="name" placeholder="Enter full name" formControlName="name"
            [ngClass]="{
        invalid: (name.dirty || name.touched) && name.invalid,
        valid: (name.dirty || name.touched) && name.valid
        }" />

          <div *ngIf="name.dirty || name.touched">
            <div class="validation danger" *ngFor="let validation of validationMessages.name">
              <small *ngIf="name.hasError(validation.type)">{{validation.message}}</small>
            </div>
          </div>

        </div>
      </div>
      <div class="field">

        <label class="label" for="gender">Gender</label>
        <div class="input"><select name="gender" id="gender" formControlName="gender" [ngClass]="{
        invalid: (gender.dirty || gender.touched) && gender.invalid,
        valid: (gender.dirty || gender.touched) && gender.valid
        }">
            <option value="">Choose Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>

          <div *ngIf="gender.dirty || gender.touched">
            <div class="validation danger" *ngFor="let validation of validationMessages.gender">
              <small *ngIf="gender.hasError(validation.type)">{{validation.message}}</small>
            </div>
          </div>

        </div>

      </div>
      <div class="field">

        <label class="label" for="dob">Birth Date</label>
        <div class="input">
          <input type="date" name="dob" id="dob" formControlName="dob" [ngClass]="{
        invalid: (dob.dirty || dob.touched) && dob.invalid,
        valid: (dob.dirty || dob.touched) && dob.valid
        }" />

          <div *ngIf="dob.dirty || dob.touched">
            <div class="validation danger" *ngFor="let validation of validationMessages.dob">
              <small *ngIf="dob.hasError(validation.type)">{{validation.message}}</small>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label" for="nickname">Nickname</label>
        <div class="input"><input type="text" name="nickname" id="nickname" placeholder="Enter Nickname if any"
            formControlName="nickname" [ngClass]="{
        invalid: (nickname.dirty || nickname.touched) && nickname.invalid,
        valid: (nickname.dirty || nickname.touched) && nickname.valid
        }" />
          <div *ngIf="nickname.dirty || nickname.touched">
            <div class="validation danger" *ngFor="let validation of validationMessages.nickname">
              <small *ngIf="nickname.hasError(validation.type)">{{validation.message}}</small>
            </div>
          </div>


        </div>
      </div>
      <div class="field">
        <label class="label" for="position">Aspiring For</label>
        <div class="input"><select id="position" name="position" formControlName="position" [ngClass]="{
        invalid: (position.dirty || position.touched) && position.invalid,
        valid: (position.dirty || position.touched) && position.valid
        }">
            <option value="">Chose Position</option>
            <option *ngFor="
        let position of positions$ | async
        " [value]="position?._id">
              {{ position?.title }}
            </option>
          </select>

          <div *ngIf="position.dirty || position.touched">
            <div class="validation danger" *ngFor="let validation of validationMessages.position">
              <small *ngIf="position.hasError(validation.type)">{{validation.message}}</small>
            </div>
          </div>

        </div>
      </div>
      <div class="field">
        <label class="label" for="photo">Photo</label>
        <div class="input">
          <input type="file" name="photo" id="photo" formControlName="photo" [ngClass]="{
        invalid: (photo.dirty || photo.touched) && photo.invalid,
        valid: (photo.dirty || photo.touched) && photo.valid
        }" (change)="previewImage($event)" />

          <div *ngIf="photo.dirty || photo.touched">
            <div class="validation danger" *ngFor="let validation of validationMessages.photo">
              <small *ngIf="photo.hasError(validation.type)">{{validation.message}}</small>
            </div>
          </div>

        </div>
      </div>
      <div class="field">
        <label class="label" for="">Candidate's <br />
          Photo</label>
        <div class="input">
          <div class="imagebox">
            <img id="candidate_photo" alt="Candidate Photo Here" [src]="imageUrl" />
          </div>
        </div>
      </div>
    </div>
    <input type="submit" class="primary" [disabled]="form.invalid" value="Submit Update" name="submit" />
  </div>
</form>

<div *ngIf="!(currentCandidate$ | async)">
  <p>No Candidate to update, click 'View Candidates'</p>
</div>

<button type="button" (click)="goback()">Go Back</button>
