@import "../../../csss/colors";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}


.positions {
  text-align: center;
  border: 2px solid $primary_color;
  border-radius: 10px;
  background-color: #222;
  padding: 20px;
  transition: all 0.1s;
  margin-bottom: 30px;

  &:not(:last-of-type) {
    margin: 20px 0;
  }

  .position {
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 1.4rem;
    font-weight: 100;
    margin: -20px -20px 0 -20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: darken($primary_color, 20);
  }

  .candidates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 10px;

    .candidate {
      flex: 1;
      border-radius: 10px;
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      margin: 0 5px;

      h4 {
        color: #fff;
        font-weight: 100;
        font-size: 2rem;
        padding: 2px;
        letter-spacing: 2px;
      }

      h5 {
        text-transform: uppercase;
        font-size: 0.8rem;
        padding: 2px;
        margin-top: -5px;
        // font-family: sans-serif;
        font-style: italic;

        &.inactive {
          color: #444;
        }

        &.active {
          color: green;
        }
      }

      .name {
        font-size: 1.15rem;
        padding: 2px 3px;
        color: $complement;
      }


      button {
        margin-top: 10px;
        width: 100%;

        &.yes,
        &.no {
          width: 35%;
        }
      }

      img {
        border-radius: 10px;
        border: 2px solid transparent;

        &.inactive {
          filter: grayscale(1) opacity(0.3);
        }

        &.active {
          border: 2px solid green;
        }
      }

      &:hover {
        background-color: rgba(#000, 0.1);

        img {
          border-color: #444;
        }
      }

      &.inactive {
        &:hover {
          background-color: rgba(rgb(233, 34, 34), 0.1);
          cursor: not-allowed;
        }
      }

      &.active {
        background-color: rgba(rgb(12, 129, 28), 0.1);

        &:hover {
          img {
            border: 2px solid green;
          }
        }
      }
    }
  }
}

@mixin button($color) {
  border: 1px solid $color;
  background-color: $color;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: bold;

  &:disabled {
    background-color: gray;
    border: 1px solid gray;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    color: $color;
    background-color: white;
    border-color: $color;
  }
}

.next {
  @include button(gold);
}

.vote,
.yes {
  @include button(green);
}

.yes {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.no {
  @include button(red);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
