<h2>Welcome to the Voting Center</h2>

<div class="notes_div">
  <div class="notes">
    <p class="lead">Take note of the following before you begin voting</p>
    <ol>
      <li>
        <p>
          Don't rush anything but know that you have approximately two minutes to finish voting
        </p>
      </li>
      <li>
        <p>
          Log out by clicking the <span class="no">logout</span> button at the top right corner of this page to finish
          and submit your voting
          data
        </p>
      </li>
      <li>
        <p>
          If you are not done or finished voting after the set time, you will be automatically logged out.
        </p>
      </li>
      <li>
        <p>
          Don't worry your data will be saved for you.
        </p>
      </li>
      <li>
        <p>
          Lastly, you cannot come back or log in again with your credential after logging out or being logged out.
        </p>
      </li>
    </ol>
  </div>



  <div class="notes">
    <p class="lead">Follow the instructions below to vote for your favorite candidate <br> in his/her respective position
      successfully</p>
    <ol>
      <li>
        <p>
          Start voting from the very begining
        </p>
      </li>
      <li>
        <p>On the card for your favorite candidate for the current position,
          click the <br> <br> <span class="vote">vote</span> button or either <span class="yes">Yes</span> / <span
            class="no">No</span>buttons</p>
      </li>
      <li>
        <p>
          Click <span class="next">next</span> to go to another position
        </p>
      </li>
    </ol>
  </div>
</div>
