<div class="user">
  <p class="name" *ngIf="auth.isLoggedIn()">
    Wecome,<br> <a>
      <!-- {{ auth.getCurrentUser().name}} -->
    </a>
  </p>
</div>
<ul class="sidebar_nav">
  <li>
    <a class="nav-link" routerLink='/ec' [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{exact: true}">Electoral
      Commission</a>
  </li>
  <!-- <li>
    <a routerLink="/elections/candidates" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Candidates</a>
  </li>
  <li>
    <a routerLink="/elections/voters" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Register</a>
  </li> -->

</ul>
