<div class="buttons shadow-lg float-right mb-2">
  <button type="button" class="cursor-pointer py-1 px-2 text-white font-semibold tracking-wide text-sm uppercase focus:outline-none focus:shadow-outline hover:bg-blue-600 bg-blue-500 rounded-l-md">Add Product</button>
  <button type="button" class="cursor-pointer py-1 px-2 text-white font-semibold tracking-wide text-sm uppercase focus:outline-none focus:shadow-outline hover:bg-green-600 bg-green-500">Get Products</button>
  <button type="button" class="cursor-pointer py-1 px-2 text-white font-semibold tracking-wide text-sm uppercase focus:outline-none focus:shadow-outline hover:bg-teal-600 bg-teal-500 rounded-r-md">Get By Filter</button>
</div>
<div class="flex justify-between clear-both items-start py-2 px-4 bg-gray-300 text-gray-600">
  <div class="">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis id optio illo, pariatur quas alias!
  </div>
  <div class="">
    <router-outlet></router-outlet>
  </div>
</div>


