<img [src]="createImageLink(candidate.photo)" [alt]="'Image of ' + candidate.name">
<div>
  <p class="name">{{candidate.name}}</p>
  <small style="display: block;">
    {{ candidate.nickname}} | {{candidate.gender}}
  </small>
  <small style="display: block;">
    {{candidate.dob | date: 'fullDate'}}
  </small>
  <div class="action_buttons" (click)="setCurrentCandidate(candidate._id)">
    <a class="blue" (click)="goto(candidate._id,'/edit-candidate')">Update</a> <a class="red"
      (click)="goto(candidate._id,'/remove-candidate')">Remove</a>
  </div>
</div>
