<div *ngIf="currentCandidate$ | async as c">
  <div class="detail"><img [src]="createImageLink(c.photo)" [alt]="'Image of ' + c.name">
    <div class="name">
      <h3>{{c.name}}</h3>
      <h5>aka. {{c.nickname}}</h5>
    </div>
  </div>
  <hr>

  <p>Born
    <span class="underline">{{c.gender}}</span> on
    <span class="underline">
      {{c.dob | date:'fullDate'}}
    </span></p>

  <a [routerLink]="'/ec/elections/'+ (currentElection$ |async)._id + '/edit-candidate/' + c._id">Update Candidate
  </a>
</div>
