form {
  display: block;
  background-color: rgba(white, 0.8);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

  .title {
    margin: 0;
    color: #444;
    text-align: center;
    padding: 10px;
    background-color: rgba($primary_color, 1);
  }

  .body {
    padding: 6px;
  }
}



.field {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2px 0;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.field label,
.field input[type="text"],
.field input[type="date"],
.field input[type="email"],
.field input[type="password"],
.field input[type="file"],
.field select {
  font-size: 0.72rem;
  color: rgba($primary_color, 0.85);
  padding: 3px 6px;
}

.field .label {
  text-transform: uppercase;
  font-weight: bold;
  flex-basis: 40%;
  text-align: right;
  margin-left: -10px;
  margin-right: 10px;
}

.field .input {
  flex-basis: 60%;
}

.input input[type="text"],
.input input[type="date"],
.input input[type="email"],
.input input[type="password"],
.input input[type="file"],
.input select {
  border: 1px solid rgba($primary_color, 0.28);
  width: 100%;
  font-weight: bold;
}

input[type="submit"],
button,
.btn {
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 5px 10px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.2s;
  outline: none;
  color: #444;
  margin-top: 5px;

  &:disabled {
    background-color: #777;
  }

  &:not(:disabled):hover {
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.9);
  }

  &.primary {
    background: invert($color: $primary_color);

    &:disabled {
      background-color: #777;
    }

    &:not(:disabled):hover {
      background: white;
      border: 1px solid $complement;
    }
  }

  &.danger {
    background: red;
    color: white;

    &:disabled {
      background-color: #777;
    }

    &:not(:disabled):hover {
      color: red;
      background: white;
      border: 1px solid red;
    }
  }
}

// Validation

.input input[type="text"],
.input input[type="date"],
.input input[type="email"],
.input input[type="password"],
.input select {
  &.invalid {
    background-color: rgba(red, 0.15);
    border: 1px solid red;
  }

  &.valid {
    background-color: rgba(green, 0.15);
    border: 1px solid green;
  }
}

.imagebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Image settings
#candidate_photo {
  width: 150px;
  height: 150px;
  border: 2px solid darken($primary_color, 30%);
  margin: 5px 0;
  border-radius: 10px;
}

.image {
  display: flex;
  justify-content: center;
}


.cancelBtn {
  margin-left: 10px;
  color: red;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid red;
  transition: all 0.1s;
  padding: 3px 5px;

  &:hover {
    color: white;
    background-color: red;
  }
}

%active-box {
  color: white;
  text-align: center;
  padding: 2px 20px;
  margin-bottom: 4px;
  width: 100%;
}

.action {
  @extend %active-box;
  background-color: #333;

  &.danger {
    background-color: red;
  }

  &.info {
    background-color: goldenrod;
  }

  &.success {
    background-color: green;
  }
}


.validation {
  color: #333;
  font-size: 0.6rem;
  font-weight: bold;
  // line-height: 14px;
  // padding: 2px 0;
  text-transform: uppercase;

  &.danger {
    color: red;
  }

  &.info {
    color: goldenrod;
  }

  &.success {
    color: green;
  }
}
