  <div class="first-column tables">
    <div class="action" *ngIf="!(electionService.election$ | async)">
      <p><a class="cta_link" routerLink="/elections">Choose an election</a> to see the positoins for that election!</p>
    </div>
    <table border="1" cellspacing="10" cellpadding="5" *ngIf="(positionSrv.positions$ | async)">
      <thead>
        <tr>
          <th>Title of Position</th>
          <!-- <th>Vote Cast Type</th> -->
          <th>No. of Candidates</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let position of (positionSrv.positions$ | async); let i = index">
          <td class="spread" align="center">
            <a class="links blue" [title]="'Update ' + position?.title"
              (click)="editPosition(position)">{{ position.title }}</a>
          </td>
          <!-- <td align="center">{{ position.cast_type }}</td> -->
          <td align="center">{{ position?.candidates.length }}</td>
          <td align="center">
            <a class="links red" [title]="'Remove ' + position?.title"
              (click)="removePosition(position._id, position.candidates)">Delete</a>
          </td>
        </tr>
        <tr *ngIf="!(positionSrv.positions$ | async)?.length">
          <td colspan="4">No Positions Yet!</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="last-column">
    <form [formGroup]="positionForm" (ngSubmit)="submitForm()">
      <fieldset>
        <legend *ngIf="isEdit === false">Add New Position</legend>
        <legend *ngIf="isEdit === true">Update Position</legend>
        <div class="fields">
          <div *ngIf="errors && !info" class="error">{{ errors }}</div>
          <div *ngIf="info && !errors" class="info">{{ info }}</div>
          <div class="field">
            <label for="title">Position's Title</label>
            <input type="text" name="title" id="title" placeholder="Enter title" formControlName="title" />
          </div>
        </div>
        <input type="submit" class="primary" [value]="isEdit === false ? 'Save Position' : 'Update Position'"
          name="submit" [disabled]="positionForm.invalid" />
        <a class="cancelBtn" title="Click to add new position"
          *ngIf="(positionSrv.positions$ | async) && isEdit == true" (click)="addPosition()">Cancel</a>
      </fieldset>
    </form>
  </div>
