  <div class="first-column tables">
    <div class="action" *ngIf="!(electionService.election | async)">
      <p>Choose an election to see the positoins for that election!</p>
    </div>
    <table border="1" cellspacing="10" cellpadding="5" *ngIf="!(electionService.election | async)">
      <thead>
        <tr>
          <th>Election</th>
          <th>School</th>
          <th>No. of Positions</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let election of electionService.$elections | async; let i = index">
          <td align="center">{{ election.title }}</td>
          <td align="center">{{ election.school }}</td>
          <td align="center">{{ election?.positions.length }}</td>
          <td align="center">
            <button type="button" class="primary" (click)="useElection(election)">
              Use Election
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <table border="1" cellspacing="10" cellpadding="5" *ngIf="electionService.election | async as Election">
      <thead>
        <tr>
          <th>Title of Position</th>
          <!-- <th>Vote Cast Type</th> -->
          <th>No. of Candidates</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let position of Election?.positions; let i = index">
          <td class="spread" align="center">
            <a class="links blue" [title]="'Update ' + position?.title"
              (click)="editPosition(position, Election._id)">{{ position.title }}</a>
          </td>
          <!-- <td align="center">{{ position.cast_type }}</td> -->
          <td align="center">{{ position?.candidates.length }}</td>
          <td align="center">
            <a class="links red" [title]="'Remove ' + position?.title"
              (click)="removePosition(position._id, Election._id)">Delete</a>
          </td>
        </tr>
        <tr *ngIf="!Election?.positions.length">
          <td colspan="4">No Positions Yet!</td>
        </tr>
      </tbody>
    </table>
    <!-- <button type="button" (click)="addPosition()">Add New Position</button> -->
  </div>
  <div class="last-column">
    <form [formGroup]="positionForm" (ngSubmit)="submitForm()">
      <fieldset>
        <legend *ngIf="isEdit === false">Add New Position</legend>
        <legend *ngIf="isEdit === true">Update Position</legend>
        <div class="fields">
          <div *ngIf="errors && !info" class="error">{{ errors }}</div>
          <div *ngIf="info && !errors" class="info">{{ info }}</div>
          <div class="field">
            <label for="election">Election</label>
            <select name="election" id="election" formControlName="election">
              <option value="">Select Election</option>
              <option *ngFor="let elec of electionService.$elections | async" [value]="elec._id">{{ elec.title }}
              </option>
            </select>
          </div>
          <div class="field">
            <label for="title">Position's Title</label>
            <input type="text" name="title" id="title" placeholder="Enter title" formControlName="title" />
          </div>
        </div>
        <input type="submit" class="primary" [value]="isEdit === false ? 'Save Position' : 'Update Position'"
          name="submit" [disabled]="positionForm.invalid" />
        <a class="cancelBtn" title="Click to add new position"
          *ngIf="(electionService.election | async) && isEdit == true" (click)="addPosition()">Cancel</a>
      </fieldset>
    </form>
  </div>
