 <table>
   <thead>
     <th align="center">Title</th>
     <th align="center">Candidates Assigned</th>
     <th align="center">Actions</th>
   </thead>
   <tbody>
     <tr align="center" *ngFor="let pos of (positions$ | async);">
       <td>
         {{ pos?.title }}
       </td>
       <td align="center">
         {{pos?.candidates.length}}
       </td>
       <td>
         <div class="action_buttons">
           <a class="blue" [routerLink]="'/ec/elections/'+ currentELectionID + '/add-candidate'"
             (click)="setCurrentPosition(pos._id)">Add
             Candidate</a> |
           <a class="green" [routerLink]="'/ec/elections/'+ currentELectionID + '/view-position/'"
             (click)="setCurrentPosition(pos._id)">View
             Position</a>
         </div>
       </td>
     </tr>
     <tr align="center" *ngIf="!(positions$ | async).length">
       <td [colSpan]="3">
         No Positions Added Yet. Click Add Position to add one now.
       </td>
     </tr>
   </tbody>
 </table>
