 <table>
   <thead>
     <th align="center">Title</th>
     <th align="center">Candidates Assigned</th>
     <th align="center">Actions</th>
   </thead>
   <tbody>
     <tr align="center" *ngFor="let pos of (currentElection$ | async)?.positions;" (click)="setCurrentPosition(pos)">
       <td>
         {{ pos?.title }}
       </td>
       <td align="center">
         {{pos?.candidates.length}}
       </td>
       <td>
         <div class="action_buttons">
           <a class="blue" [routerLink]="'/ec/elections/'+ (currentElection$ |async)._id + '/add-candidate'">Add
             Candidate</a> |
           <a class="green" [routerLink]="'/ec/elections/'+ (currentElection$ |async)._id + '/view-position/'">View
             Position</a>
         </div>
       </td>
     </tr>
   </tbody>
 </table>
