:host {
  display: block;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
header {
  padding: 20px;
  background-color: #111;


  a {
    color: white;
    text-decoration: none;
    padding: 3px 5px;
  }

  .page_title {
    margin: 0;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #45c;
    letter-spacing: 3px;
  }
}

// Logout Button Settings
.logout {
  border: 1px solid red;
  background-color: red;
  color: white;
  text-transform: uppercase;
  cursor: pointer;


  &:hover {
    color: red;
    background-color: white;
    border-color: red;
  }
}
